@if (project) {
  <com-nav-bar [navBarObjects]="navBarObjects"></com-nav-bar>
  <div id="project" class="sm:ml-48">
    <div class="min-h-[450px] bg-primary-light flex flex-col justify-center items-center">
      <h1 class="text-secondary">
        <fa-icon [icon]="projectIcon"></fa-icon>
      </h1>
      <h1 class="text-secondary text-center">{{ project.titreoperation }}</h1>
      <p>{{ project.etat_d_avancement }}</p>
    </div>
    <div class="p-10" id="detail">
      <h2 class="mb-6"># Détail</h2>
      <div class="flex justify-center">
        <div
          class="block w-max py-6 px-14 bg-white border border-gray-200 rounded-lg shadow-xl dark:bg-gray-800 dark:border-gray-700">
          <h4 class="text-black dark:text-white">Établissement</h4>
          <ul class="flex flex-col gap-3 p-4">
            <li>Code d'identification: <strong>{{ project.establishment?.code }}</strong></li>
            <li>Nom: <strong>{{ project.establishment?.label }}</strong></li>
            <li>Ville: <strong>{{ project.establishment?.city }}</strong></li>
          </ul>
          <div class="border-t border-gray-200 dark:border-gray-700 pt-4">
            <h4 class="text-black dark:text-white">Détails financiers et budgétaires</h4>
            <ul class="flex flex-col gap-3 p-4">
              <li>Montant voté pour l'Autorisation de Programme:
                <strong>{{ project.montant_des_ap_votes_en_meu ? (project.montant_des_ap_votes_en_meu + " Millions €") : "Non voté" }}</strong>
              </li>
              <li>Enveloppe budgétaire prévue pour l'opération:
                <strong>{{ project.enveloppe_prev_en_meu ? (project.enveloppe_prev_en_meu + " Millions €") : "Non défini" }}</strong>
              </li>
            </ul>
          </div>
          <div class="border-t border-gray-200 dark:border-gray-700 pt-4">
            <h4 class="text-black dark:text-white">Chronologie du projet</h4>
            <ul class="flex flex-col gap-3 p-4">
              <li>Année d'individualisation:
                <strong>{{ project.annee_d_individualisation ?? "Non individualisé" }}</strong></li>
              <li>Notification du marché:
                <strong>{{ project.notification_du_marche ? (project.notification_du_marche | date: "dd/MM/YYYY") : "Non notifié" }}</strong>
              </li>
              <li>Date d'attribution des contrats par la CAO:
                <strong>{{ project.cao_attribution ? (project.cao_attribution | date: "dd/MM/YYYY") : "Non attribué" }}</strong>
              </li>
              <li>Année de livraison: <strong>{{ project.annee_de_livraison ?? "Non livré" }}</strong></li>
            </ul>
          </div>
          <div class="border-t border-gray-200 dark:border-gray-700 pt-4">
            <h4 class="text-black dark:text-white">Parties prenantes</h4>
            <ul class="flex flex-col gap-3 p-4">
              <li>Mandataire: <strong>{{ project.representative_label ?? "Aucun mandataire" }}</strong></li>
              <li>Maîtrise d'œuvre: <strong>{{ project.project_management_label ?? "Aucun maître d'œuvre" }}</strong>
              </li>
              <li>Entreprise: <strong>{{ project.company_label ?? "Aucune entreprise" }}</strong></li>
            </ul>
          </div>
          <div class="border-t border-gray-200 dark:border-gray-700 pt-4">
            <h4 class="text-black dark:text-white">Aspects administratifs et techniques</h4>
            <ul class="flex flex-col gap-3 p-4">
              <li>Mode de d'évolution: <strong>{{ project.mode_de_devolution ?? "Non défini" }}</strong></li>
              @if (project.mode_de_devolution == "Lots séparés") {
                <li>Nombre de lots: <strong>{{ project.nombre_de_lots ?? "Non défini" }}</strong></li>
              }
              <li>PPi: <strong>{{ project.ppi ?? "Non défini" }}</strong></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="p-10" id="kpi">
      <h2 class="mb-6"># KPI</h2>
      <p>Découvrez la position des investissements de l'établissement à l'échelle de la région parisienne.<br>
      <div class="flex flex-col w-full pt-6">
        @if (kpi?.voted_budget) {
          <h4 class="text-black dark:text-white">Montant voté pour l'Autorisation de Programme</h4>
          <div class="flex flex-wrap justify-around gap-3 p-4">
            <com-ranked-card [rank]="kpi.voted_budget.all?.ranked">
              sur les {{ kpi.voted_budget.all?.count }} investissements d'Île de France.
            </com-ranked-card>
            <com-ranked-card [rank]="kpi.voted_budget.city?.ranked">
              sur les {{ kpi.voted_budget.city?.count }} investissements de {{ project.establishment?.city }}.
            </com-ranked-card>
            @if (project.cao_attribution) {
              <com-ranked-card [rank]="kpi.voted_budget.year?.ranked">
                sur les {{ kpi.voted_budget.year?.count }} investissements attribués
                en {{ project.cao_attribution | date: "YYYY" }}.
              </com-ranked-card>
            }
          </div>
          @if (kpi.voted_budget.all) {
            <echarts
              [options]="options_by_category(project.montant_des_ap_votes_en_meu, kpi.voted_budget.all, 'Comparatif région parisienne')"
              [autoResize]="true" class="chart-container">
            </echarts>
          }
          @if (kpi.voted_budget.city) {
            <echarts
              [options]="options_by_category(project.montant_des_ap_votes_en_meu, kpi.voted_budget.city, 'Comparatif ' + project?.establishment?.city)"
              [autoResize]="true" class="chart-container">
            </echarts>
          }
          @if (kpi.voted_budget.year) {
            <echarts
              [options]="options_by_category(project.montant_des_ap_votes_en_meu, kpi.voted_budget.year, 'Comparatif ' + (project?.cao_attribution | date: 'YYYY'))"
              [autoResize]="true" class="chart-container">
            </echarts>
          }
        } @else {
          <p>Aucune donnée n'a été calculée à partir des votes AP.</p>
        }
        @if (kpi?.planned_budget) {
          <h4 class="text-black dark:text-white border-t border-gray-200 dark:border-gray-700 pt-4">
            Montant de l'enveloppe prévue pour l'opération
          </h4>
          <div class="flex flex-wrap justify-around gap-3 p-4">
            <com-ranked-card [rank]="kpi.planned_budget.all?.ranked">
              sur les {{ kpi.planned_budget.all?.count }} investissements d'Île de France.
            </com-ranked-card>
            <com-ranked-card [rank]="kpi.planned_budget.city?.ranked">
              sur les {{ kpi.planned_budget.city?.count }} investissements de {{ project.establishment?.city }}.
            </com-ranked-card>
            @if (project.cao_attribution) {
              <com-ranked-card [rank]="kpi.planned_budget.year?.ranked">
                sur les {{ kpi.planned_budget.year?.count }} investissements attribués
                en {{ project.cao_attribution | date: "YYYY" }}.
              </com-ranked-card>
            }
          </div>
          @if (kpi.planned_budget.all) {
            <echarts
              [options]="options_by_category(project.enveloppe_prev_en_meu, kpi.planned_budget.all, 'Comparatif région parisienne')"
              [autoResize]="true" class="chart-container">
            </echarts>
          }
          @if (kpi.planned_budget.city) {
            <echarts
              [options]="options_by_category(project.enveloppe_prev_en_meu, kpi.planned_budget.city, 'Comparatif ' + project?.establishment?.city)"
              [autoResize]="true" class="chart-container">
            </echarts>
          }
          @if (kpi.planned_budget.year) {
            <echarts
              [options]="options_by_category(project.enveloppe_prev_en_meu, kpi.planned_budget.year, 'Comparatif ' + (project?.cao_attribution | date: 'YYYY'))"
              [autoResize]="true" class="chart-container">
            </echarts>
          }
        } @else {
          <p>Aucune donnée n'a été calculée à partir des prévisions de budget.</p>
        }
      </div>
    </div>
  </div>
} @else if (loading) {
  <div class="flex h-screen items-center justify-center p-4" role="status">
    <svg aria-hidden="true" class="w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
         viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
        fill="currentColor"/>
      <path
        d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
        fill="currentFill"/>
    </svg>
    <span class="sr-only">Loading...</span>
  </div>
} @else {
  <div class="flex h-screen items-center justify-center p-4" role="status">
    Une erreur est survenue
  </div>
}
